@font-face {
  font-family: "Pokemon Solid";
  src: url("../font/PokemonSolid.ttf");
}

body {
  margin: 0;
  padding: 0;

  background-image: -webkit-linear-gradient(top, yellow, purple);
  background-image: -moz-linear-gradient(top, yellow, purple);
  background-image: -o-linear-gradient(top, yellow, purple);
  background-image: linear-gradient(top, yellow, purple);

  font-family: "Pokemon Solid", Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

h1, h2 {
  text-align: center;
}

.details .name {
  text-transform: capitalize;
  font-size: 30px;
}

.container svg {
  display: block;
  margin: 0 auto;
}

.stat-circle, .stat-name {
  cursor: move;
}

.details .sprite {
  &:hover {
    -webkit-transform: scale(2.5, 2.5) translate(50%, 50%);
    transform: scale(2, 2) translate(-48%, -50%);

    -webkit-transition: transform 2s;
    transition: transform 2s;
  }
}

.original .name {
  text-transform: capitalize;
}
