{
  "extends": "airbnb/legacy",

  "env": {
    "browser": true,
    "jquery": true
  },

  "globals": {
    "d3": true
  },

  "rules": {
    "vars-on-top": 0,
    "func-names": 0,
    "space-before-function-paren": 0
  }
}
